<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>welcome to my website</h1>
  <a href="https://website.loca.lt/api/signup">Signup</a> | <a href="https://website.loca.lt/api/login">Login</a>
</body>
</html>
